<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <h1 class="title-brand navbar-brand">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                TrackIt
            </NavLink>
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="products" Match="NavLinkMatch.All">
                                Products
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="add-item" Match="NavLinkMatch.All">
                                Add Item
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-navbar" aria-label="Logout">
                                <NavLink href="logout" Match="NavLinkMatch.All">
                                    Logout
                                </NavLink>
                            </button>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <button type="button" class="btn btn-navbar">
                                <NavLink href="register" Match="NavLinkMatch.All">
                                    Register
                                </NavLink>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-navbar login-btn">
                                <NavLink href="login" Match="NavLinkMatch.All">
                                    Login
                                </NavLink>
                            </button>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </nav>
</header>