@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to TrackIt</h1>
<p>Your go-to app for tracking products and keeping everything organized in one place. Start by
    browsing or adding new items to your inventory and stay on top of your stock, prices, and more.</p>